@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

:root {
  --bkground-rgb: #FCFAFA;
  --fontmain: "Futura" sans-serif;
  --bgcolorvar: #292929;
}
@media (prefers-color-scheme: whitemode) {
  :root {
    --bkground-rgb: #FCFAFA;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}
